.detailContainer {
  .titleContainer {
    .title {
      font-size: 30px;
      margin: 20px 0;
    }

    .iconBox {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 10px;
      visibility: hidden;

      .editable {
        visibility: visible;
      }
    }

    .input {
      padding: 10px;
      width: 500px;
      margin: 10px 0;
      height: 50px;
      border: 2px solid #aaaaaa;
      border-radius: 5px;
    }
  }

  .btnBox {
    display: flex;
    justify-content: space-between;
    margin: 30px;

    button {
      padding: 5px 10px;
      font-size: 20px;
      background-color: red;
      color: white;
      border-radius: 5px;
      visibility: hidden;

      &.editable {
        visibility: visible;
      }
    }
  }
}
